/* Reseteo los estilos por defecto del navegador: */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

/* Creo las variables para el modo oscuro, que sera el modo por defecto: */
:root {
  --color-background-header: #191e2b;
  --color-background-main: #30343f;
  --color-background-aside: #252935;
  --color-background-footer: #30343f;
  --color-background-btn: #393e49;
  --color-btn-hover: #4e5565;
  --color-text: #f1f1f1;
  --size-h1: 1.6rem;
  --size-btn: 0.9rem;
  --border-btn: 3px;
}

/* Creo las variables para el modo claro: */
[data-theme="light--theme"] {
  --color-background-header: #e0e0e0;
  --color-background-main: #eeeeee;
  --color-background-aside: #fafafa;
  --color-background-footer: #eeeeee;
  --color-btn-hover: #bdbdbd;
  --color-text: #424242;
}

body {
  background-color: var(--color-background-main);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Inicio el proyecto estilando en mobile first, mq en 320px: */
@media (min-width: 320px) {
  /* Comienzo a estilar el header */
  .header {
    width: 100%;
    background-color: var(--color-background-header);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem 1rem;
    gap: 1.25rem;
  }

  .header--title {
    font-size: var(--size-h1);
    text-align: center;
    color: var(--color-text);
  }

  .header--nav {
    display: flex;
    justify-content: center;
    gap: 0.3rem;
  }

  .header--nav button,
  .download--btn {
    all: unset;
    color: var(--color-text);
    font-size: var(--size-btn);
    padding: 8px 10px;
    border-radius: var(--border-btn);
    cursor: pointer;
  }

  .header--nav button i {
    color: var(--color-text);
    padding-right: 3px;
    font-size: var(--size-btn);
  }

  button:hover {
    background-color: var(--color-btn-hover);
  }

  .hidden {
    display: none;
  }

  /* Comienzo a estilar el main */

  .meme--container {
    width: 300px;
    height: 90vh;
    background-color: var(--color-background-main);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
  }

  .meme--editor {
    position: relative;
    background-color: black;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .text {
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
    padding: 0.3rem 0.5rem;
    font-size: 1rem;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-weight: 800;
  }

  .meme--img {
    width: 100%;
    height: 220px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .download--btn {
    background-color: #2e7d32;
  }

  .download--btn:hover {
    background-color: #27582a;
  }

  .download--btn i {
    font-size: 16px;
    padding: 6px;
  }

  /* Comienzo a estilar el aside */

  .section--panels {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
  }

  /* Del aside, comienzo a estilar la seccion de la img*/

  .section--img,
  .section--txt {
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    padding: 1.3rem;
    color: var(--color-text);
    background-color: var(--color-background-aside);
  }

  .close--btn {
    all: unset;
    color: var(--color-text);
    width: 10%;
    align-self: flex-end;
  }

  .close--btn i {
    font-size: 1.1rem;
    font-weight: bolder;
  }

  h2 {
    text-align: center;
    font-size: 1.2rem;
  }

  h3,
  label {
    font-size: 0.75rem;
    margin: 0.5rem 0rem;
  }

  #url--img,
  .number--spacing,
  textarea {
    all: unset;
    width: 100%;
    height: 2.3rem;
    background-color: var(--color-background-btn);
    border-radius: var(--border-btn);
  }

  textarea {
    font-size: 0.8rem;
    padding-top: 0.5rem;
  }

  .color--background {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .background {
    width: 7rem;
    height: 2.5em;
    display: flex;
    flex-direction: row;
    gap: 0.6rem;
    border-radius: var(--border-btn);
    color: var(--color-text);
    background-color: var(--color-background-btn);
    padding: 0.5rem 0.9rem;
  }

  span {
    padding: 0.4rem 0rem;
  }

  .mode--input,
  #line--height-select,
  #font-select {
    width: 7rem;
    height: 2.5rem;
    -moz-appearance: none;
    background-color: var(--color-background-btn);
    border: none;
    border-radius: var(--border-btn);
    color: var(--color-text);
    padding: 0.5rem 0.9rem;
  }

  #font-select {
    width: 100%;
  }

  .font--size {
    width: 42%;
    -moz-appearance: none;
    background-color: var(--color-background-btn);
    border: none;
    border-radius: var(--border-btn);
    color: var(--color-text);
    padding: 0.5rem 2rem;
  }

  .txt--align {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0.1rem;
    background-color: var(--color-background-btn);
    border: none;
    border-radius: var(--border-btn);
    color: var(--color-text);
  }

  /* Para que el input quede en forma circular busque
  varias alternativas pero no me dieron resultado. 
  Luego,en stackoverflow encontre esta solucion: */

  input[type="color"] {
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    background-color: transparent;
  }

  input[type="color"]::-webkit-color-swatch,
  input[type="color"]::-webkit-color-swatch-wrapper {
    border: none;
    border-radius: 100%;
    padding: 0;
  }

  input[type="range"] {
    width: 100%;
    background-color: #5a5d68;
    border-radius: 0.8rem;
    appearance: none;
    height: 0.4rem;
    margin: 0.3rem 0rem;
  }

  .editor {
    display: flex;
    flex-direction: column;
  }

  /* Para este input tambien investigue y encontre 
    el codigo en  internet*/

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: var(--color-text);
    cursor: pointer;
  }

  .reset--btn {
    all: unset;
    width: 9rem;
    height: 1.8rem;
    font-size: 1rem;
    background-color: var(--color-background-btn);
    border-radius: var(--border-btn);
    padding: 0.2rem 1rem;
  }

  /* Del aside, comienzo a estilar la seccion del txt*/

  #line--height-select {
    width: 100%;
  }

  .text--top,
  .text--bottom {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
  }

  .color--panel {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  }

  .label {
    width: 8rem;
    height: 2.2rem;
    float: left;
    -moz-appearance: none;
    background-color: var(--color-background-btn);
    border: none;
    border-radius: var(--border-btn);
    color: var(--color-text);
    font-size: 0.8rem;
    font-weight: bolder;
    text-align: center;
  }

  .outline button {
    all: unset;
    width: 25%;
    height: 2.3rem;
    background-color: var(--color-background-btn);
    border-radius: var(--border-btn);
    text-align: center;
    font-size: 0.8rem;
  }
}

/* Agrego una mq en 375px para modificar el tamaño del contenedor del meme: */
@media (min-width: 375px) {
  .meme--container {
    width: 320px;
  }

  .meme--img {
    height: 260px;
  }
}

/* Agrego la siguiente mq en 425px para modificar el tamaño del contenedor del meme: */
@media (min-width: 425px) {
  .meme--container {
    width: 380px;
  }

  .meme--img {
    height: 300px;
  }

  .text {
    padding: 0.5rem 0.7rem;
    font-size: 1.1rem;
    font-weight: 900;
  }
}

/* Agrego otra mq en 768px para modificar los tamaños de las fuentes y el contenedor del meme: */
@media (min-width: 768px) {
  .header--title {
    font-size: 2.25rem;
  }

  .meme--container {
    width: 600px;
  }

  .meme--img {
    height: 406px;
  }

  .text {
    padding: 0.8rem 0.7rem;
    font-size: 1.5rem;
  }
}

/* Agrego la ultima mq en 1024px para modificar los tamaños de las fuentes del texto: */
@media (min-width: 1024px) {
  .text {
    padding: 1.1rem 1rem;
    font-size: 2.5rem;
  }
}
